.team-card {
  border: 1px solid #ffffff;
  border-radius: 8px;
  width: 220px;
  margin: 12px;
  background-color: #ffffff33;
  list-style-type: none;
}

.team-link {
  display: flex;
  align-items: center;
  padding: 16px;
  text-decoration: none;
}

.team-image {
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.team-name {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 18px;
}
